@import "scss/all";
@import "scss/reset";
@import "scss/root";
@import "scss/utilities";

body {
  background-color: $body-bg-color;
  color: $body-text-color;
}

.search-nav {
  width: 70%;
}

.full_height {
  height: 100%;
}
.full_width {
  width: 100%;
}
.mb_10 {
  margin-bottom: 10px;
}
