/*=============================================
=            Global text colors               =
=============================================*/

$body-text-color: var(--flex-body-text-color, $white) !default;
$body-bg-color: var(--flex-body-bg-color, $white) !default;

/*=====  End of global text colors  ======*/

/*=============================================
=            Buttons            =
=============================================*/

/*----------  Primary Button  ----------*/

$btn-primary-color: var(--flex-btn-primary-color, $white) !default;

$btn-primary-bg-color: var(
  --flex-btn-primary-bg-color,
  $light-blue 0%,
  $blue 100%
) !default;

/*----------  Secondary Button  ----------*/

$btn-secondary-color: var(--flex-btn-secondary-color, $blue) !default;

$btn-secondary-bg-color: var(--flex-btn-secondary-bg-color, $white) !default;
$btn-secondary-border-color: var(
  --flex-btn-secondary-border-color,
  $blue
) !default;

/*=====  End of Buttons  ======*/

/*=============================================
=            SearchInput            =
=============================================*/
$search-input-color: var(--flex-search-input-color, $gray) !default;
$search-input-bg-color: var(--flex-search-input-bg-color, $white) !default;
$search-input-border-color: var(
  --flex-search-input-border-color,
  $light-gray
) !default;

/*=====  End of SearchInput  ======*/
