:root {
  --flex-body-text-color: #{$black};
  --flex-body-bg-color: #{$white};

  --flex-btn-primary-color: #{$white};
  --flex-btn-primary-bg: #{$blue};

  --flex-btn-secondary-color: #{$blue};
  --flex-btn-secondary-bg-color: #{$white};
  --flex-btn-secondary-border-color: #{$blue};

  --flex-body-font-size: #{$fs-base};
  --flex-body-font-weight: #{$fw-normal};

  --flex-search-input-color: #{$gray};
  --flex-search-input-bg-color: #{$white};
  --flex-search-input-border-color: #{$light-gray};

  --flex-note-card-heading-color: #{$black};
  --flex-note-card-bg-color: #{$white-dark};
  --flex-note-card-footer-color: #{$gray};

  --flex-horizontal-line: #{$light-gray};

  --flex-h1-font-size: #{$h-1};
  --flex-h2-font-size: #{$h-2};
  --flex-h3-font-size: #{$h-3};
  --flex-h4-font-size: #{$h-4};
  --flex-h5-font-size: #{$h-5};
  --flex-h6-font-size: #{$h-6};

  --flex-h1-font-weight: #{$fw-semibold};
  --flex-h2-font-weight: #{$fw-semibold};
  --flex-h3-font-weight: #{$fw-semibold};
  --flex-h4-font-weight: #{$fw-normal};
  --flex-h5-font-weight: #{$fw-normal};
  --flex-h6-font-weight: #{$fw-light};
}
