@import "./all";
/*=============================================
=            Width and Height classes            =
=============================================*/

@each $size, $value in $spacing {
  .flex-width-#{$size} {
    width: $value;
  }
  .flex-height-#{$size} {
    height: $value;
  }
}
/*=====  End of Width and Height classes  ======*/

/*=============================================
=            Font Size Classes            =
=============================================*/
@each $font, $size in $font-sizes {
  .flex-font-size-#{$font} {
    font-size: $size;
  }
}
/*=====  End of Font Sizes  ======*/
